body{
    background: #9c9;
    margin: 0;
    color: #222522;
}
.board{
    margin-left: auto;
    margin-right: auto;
    border: 5px #222522 solid;
    position: relative;
}
.snake{
    margin-left: 1px;
    margin-top: 1px;
    width: 13px;
    height: 13px;
    position: absolute;
    background: #222522;
}
.food{
    margin-left: 3px;
    margin-top: 3px;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    position: absolute;
    background: #222522;
}
.levelSelector{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 5px;
}

.levelSelector input{
    display: inline-block;
    border: 2px solid #222522;
    background: transparent;
}

.levelSelector select{
    display: inline-block;
    border: 2px solid #222522;
    background: transparent;
}

.score{
    padding-top: 5px;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
}

.gameOver{
    padding-top: 5px;
    text-align: center;
    font-family: monospace;
    font-size: 50px;
    font-weight: bold;
}

.login{
    text-align: center;
}

.login input{
    margin-top: 50px;
    display: inline-block;
    border: 2px solid #222522;
    background: transparent;
}

.ranklist h1{
    text-align: center;
}

.ranklist table{
    margin: 0 auto;
    font-weight: bold;
}

.ranklist td{
    padding: 2px 10px;
    text-align: center;
}